## Importing packages and importing data

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
pd.set_option('display.max_columns',None)

In [3]:
Data_Indo_Jkt = pd.read_excel('Daily Update Data Agregat Covid-19 Jakarta.xlsx',sheet_name=0)
Data_Jkt = pd.read_excel('Daily Update Data Agregat Covid-19 Jakarta.xlsx',sheet_name=1)
Data_Suspek_Jkt = pd.read_excel('Daily Update Data Agregat Covid-19 Jakarta.xlsx',sheet_name=2)
Data_RDT_Ab = pd.read_excel('Daily Update Data Agregat Covid-19 Jakarta.xlsx',sheet_name=3)
Data_RDT_Ag = pd.read_excel('Daily Update Data Agregat Covid-19 Jakarta.xlsx',sheet_name=4)
Data_Hasil_Lab = pd.read_excel('Daily Update Data Agregat Covid-19 Jakarta.xlsx',sheet_name=5)
Data_Vaksinasi= pd.read_excel('Daily Update Data Agregat Covid-19 Jakarta.xlsx',sheet_name=6)
Data_Pemakaman = pd.read_excel('Daily Update Data Agregat Covid-19 Jakarta.xlsx',sheet_name=7)
Data_Vaksinasi_Wilayah = pd.read_excel('Daily Update Data Agregat Covid-19 Jakarta.xlsx',sheet_name=8)
Data_Daily_Vaksinasi_Wilayah = pd.read_excel('Daily Update Data Agregat Covid-19 Jakarta.xlsx',sheet_name=9)

### Data Checking

**1. Data Indo Jakarta**

In [4]:

Data_Indo_Jkt.drop(columns=['Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26'],inplace=True)
Data_Indo_Jkt.head()

,Tanggal,Meninggal (Indonesia),Sembuh (Indonesia),Dirawat (Indonesia),Positif (Indonesia),Meninggal (Jakarta),Sembuh (Jakarta),Self-Isolation (Jakarta),Dirawat (Jakarta),Positif (Jakarta),Positif Aktif (Jakarta),Meninggal Harian (Indonesia),Sembuh Harian (Indonesia),Dirawat Harian (Indonesia),Positif Harian (Indonesia),Meninggal Harian (Jakarta),Sembuh Harian (Jakarta),Self-Isolation Harian (Jakarta),Dirawat Harian (Jakarta),Positif Harian (Jakarta),Positif Aktif Harian (Jakarta)
0,2020-03-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2020-03-02,0,0,2,2,0,0,0,0,0,0,0,0,2,2,0,0,0,0,0,0
2,2020-03-03,0,0,2,2,1,0,0,2,3,2,0,0,0,0,1,0,0,2,3,2
3,2020-03-04,0,0,2,2,1,0,0,2,3,2,0,0,0,0,0,0,0,0,0,0
4,2020-03-05,0,0,2,2,3,0,0,4,7,4,0,0,0,0,2,0,0,2,4,2

**2. Data Jakarta**

In [5]:
Data_Jkt.drop(columns=['Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19','Unnamed: 20','Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26','Unnamed: 27', 'Unnamed: 28'],inplace=True)
Data_Jkt.head()

,Tanggal,Jam,Tanggal Jam,Total Pasien,Sembuh,Meninggal,Self Isolation,Masih Perawatan,Belum Diketahui (masih verifikasi),Menunggu Hasil,Tenaga Kesehatan Terinfeksi,Positif Harian,Positif Aktif,Sembuh Harian,Tanpa Gejala,Bergejala,Belum Ada Data
0,2020-03-01,NaN,2020-03-01 18:00:00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN
1,2020-03-02,NaN,2020-03-02 18:00:00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN
2,2020-03-03,NaN,2020-03-03 18:00:00,3,0,1,0,2,NaN,NaN,NaN,3,2,0,NaN,NaN,NaN
3,2020-03-04,NaN,2020-03-04 18:00:00,3,0,1,0,2,NaN,NaN,NaN,0,2,0,NaN,NaN,NaN
4,2020-03-05,NaN,2020-03-05 18:00:00,7,0,3,0,4,NaN,NaN,NaN,4,4,0,NaN,NaN,NaN

**3.Data Suspek Jakarta**

In [6]:
Data_Suspek_Jkt.head()

,Tanggal,Total Discarded,Isolasi di RS (Discarded),Isolasi di Rumah (Discarded),Meninggal (Discarded),Selesai Isolasi (Discarded),Total Kontak Erat,Isolasi di RS (Kontak Erat),Isolasi di Rumah (Kontak Erat),Meninggal (Kontak Erat),Selesai Isolasi (Kontak Erat),Total Pelaku Perjalanan,Isolasi di RS (Pelaku Perjalanan),Isolasi di Rumah (Pelaku Perjalanan),Meninggal (Pelaku Perjalanan),Selesai Isolasi (Pelaku Perjalanan),Total Probable,Isolasi di RS (Probable),Isolasi di Rumah (Probable),Meninggal (Probable),Selesai Isolasi (Probable),Total Suspek,Isolasi di RS (Suspek),Isolasi di Rumah (Suspek),Meninggal (Suspek),Selesai Isolasi (Suspek),GRAND TOTAL
0,2020-07-17,5712,NaN,NaN,NaN,5712,78725,NaN,5191,NaN,73534,1794,NaN,41,NaN,1753,42,1.0,NaN,4,37,51507,981,504,2194,47828,137780.0
1,2020-07-18,5713,NaN,NaN,NaN,5713,80382,NaN,6531,NaN,73851,1803,NaN,45,NaN,1758,42,NaN,NaN,4,38,52081,780,584,2194,48523,140021.0
2,2020-07-19,5713,NaN,NaN,NaN,5713,81327,NaN,7372,NaN,73955,1803,NaN,45,NaN,1758,42,NaN,NaN,4,38,52586,1136,610,2194,48646,141471.0
3,2020-07-20,5713,NaN,NaN,NaN,5713,81739,NaN,5547,NaN,76192,1809,NaN,36,NaN,1773,42,NaN,NaN,4,38,52714,1067,602,2194,48851,142017.0
4,2020-07-21,5643,NaN,NaN,NaN,5643,82860,NaN,5934,NaN,76926,1824,NaN,46,NaN,1778,42,NaN,NaN,4,38,52957,1158,725,2194,48880,143326.0

**4.Data Rapid Test Antibodi**

In [7]:
Data_RDT_Ab.head()

,No.,Tanggal,Reaktif,Non-Reaktif,Total,Positivity Rate,Unnamed: 6,catatan:,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,1,2020-03-27,124,10839,10963,0.011311,NaN,"kolom ""Tanggal"" = tanggal 1 hari sebelum updat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2020-03-28,149,11858,12007,0.012409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2020-03-29,206,14808,15014,0.013721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2020-03-30,290,17619,17909,0.016193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2020-03-31,307,18242,18549,0.016551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
Data_RDT_Ab = Data_RDT_Ab[['No.', 'Tanggal', 'Reaktif', 'Non-Reaktif', 'Total', 'Positivity Rate']]

In [9]:
Data_RDT_Ab.head()

   No.    Tanggal  Reaktif  Non-Reaktif  Total  Positivity Rate
0    1 2020-03-27      124        10839  10963         0.011311
1    2 2020-03-28      149        11858  12007         0.012409
2    3 2020-03-29      206        14808  15014         0.013721
3    4 2020-03-30      290        17619  17909         0.016193
4    5 2020-03-31      307        18242  18549         0.016551

**5. Data Rapid Test Antigen**

In [10]:
Data_RDT_Ag.columns = ['No','Tgl','Positif_EIS','Negatif_EIS','Total_EIS','Positivity Rate_EIS','Positif_NAR','Negatif_NAR','Total_NAR','Positivity Rate_NAR','Positif_Excel','Negatif_Excel','Total_Excel','Positivity Rate_Excel','Tes Harian_DKI_JKT','Positif Harian_DKI_JKT','Negatif Harian_DKI_JKT','Positivity Rate Harian_DKI_JKT','Total Kumulatif_DKI_JKT','Positif Kumulatif_DKI_JKT','Negatif Kumulatif_DKI_JKT','Positivity Rate Kumulatif_DKI_JKT']

In [11]:
Data_RDT_Ag = Data_RDT_Ag.iloc[1: , :]

In [12]:
Data_RDT_Ag.head()

,No,Tgl,Positif_EIS,Negatif_EIS,Total_EIS,Positivity Rate_EIS,Positif_NAR,Negatif_NAR,Total_NAR,Positivity Rate_NAR,Positif_Excel,Negatif_Excel,Total_Excel,Positivity Rate_Excel,Tes Harian_DKI_JKT,Positif Harian_DKI_JKT,Negatif Harian_DKI_JKT,Positivity Rate Harian_DKI_JKT,Total Kumulatif_DKI_JKT,Positif Kumulatif_DKI_JKT,Negatif Kumulatif_DKI_JKT,Positivity Rate Kumulatif_DKI_JKT
1,1.0,2021-01-01 00:00:00,76,1116,1192,0.063758,0,0,0,#DIV/0!,0,0,0,#DIV/0!,1192,76,1116,0.063758,1192,76,1116,0.063758
2,2.0,2021-01-02 00:00:00,76,1116,1192,0.063758,0,0,0,#DIV/0!,0,0,0,#DIV/0!,0,0,0,#DIV/0!,1192,76,1116,0.063758
3,3.0,2021-01-03 00:00:00,100,1699,1799,0.055586,0,0,0,#DIV/0!,0,0,0,#DIV/0!,607,24,583,0.039539,1799,100,1699,0.055586
4,4.0,2021-01-04 00:00:00,100,1699,1799,0.055586,0,0,0,#DIV/0!,0,0,0,#DIV/0!,0,0,0,#DIV/0!,1799,100,1699,0.055586
5,5.0,2021-01-05 00:00:00,100,1699,1799,0.055586,0,0,0,#DIV/0!,0,0,0,#DIV/0!,0,0,0,#DIV/0!,1799,100,1699,0.055586

**6. Hasil Lab**

In [13]:
Data_Hasil_Lab = Data_Hasil_Lab[['Tanggal', 'Jumlah Orang di Test', 'Orang Positif Harian',
       'Orang Negatif Harian', 'Positivity Rate Kasus Baru Harian',
       'Total Spesimen di Test', 'Positif', 'Negatif',
       'Positivity Rate Spesimen Harian']]

In [14]:
Data_Hasil_Lab.head()

,Tanggal,Jumlah Orang di Test,Orang Positif Harian,Orang Negatif Harian,Positivity Rate Kasus Baru Harian,Total Spesimen di Test,Positif,Negatif,Positivity Rate Spesimen Harian
0,2020-02-29,40,0,40,0.0,40,0,40,"0,0%"
1,2020-03-01,39,0,39,0.0,39,0,39,"0,0%"
2,2020-03-02,3,0,3,0.0,3,0,3,"0,0%"
3,2020-03-03,15,3,12,0.2,15,3,12,"20,0%"
4,2020-03-04,7,0,7,0.0,7,0,7,"0,0%"

**7. Data Vaksinasi**

_Keep it as a note:_

* Sasaran Total Indonesia: `181.554.465`
* Sasaran Total DKI Jakarta: `8.815.157`

In [15]:
Data_Vaksinasi.columns = Data_Vaksinasi.iloc[3]
Data_Vaksinasi = Data_Vaksinasi.iloc[4: , :]
Data_Vaksinasi.head()

3,NaN,Target Vaksinasi,Vaksinasi 1,Vaksinasi 2,Persentase 1,Persentase 2,Target Vaksinasi,Vaksinasi 1,Vaksinasi 2,Persentase 1,Persentase 2,Target Vaksinasi,Vaksinasi 1,Vaksinasi 2,Persentase 1,Persentase 2,Target Vaksinasi,Vaksinasi 1,Vaksinasi 2,Persentase 1,Persentase 2,Vaksinasi 1,Vaksinasi 2,Target Vaksinasi,Vaksinasi 1,Vaksinasi 2,Persentase 1,Persentase 2,Target Vaksinasi,Vaksinasi 1,Vaksinasi 2,Persentase 1,Persentase 2,Target Vaksinasi,Vaksinasi 1,Vaksinasi 2,Persentase 1,Persentase 2,Target Vaksinasi,Vaksinasi 1,Vaksinasi 2,Persentase 1,Persentase 2,Target Vaksinasi,Vaksinasi 1,Vaksinasi 2,Persentase 1,Persentase 2,Target Vaksinasi,Vaksinasi 1,Vaksinasi 2,Persentase 1,Persentase 2,Vaksinasi 1,Vaksinasi 2,Target Vaksinasi,Vaksinasi 1,Vaksinasi 2,Persentase 1,Persentase 2,Target Vaksinasi,Vaksinasi 1,Vaksinasi 2,Persentase 1,Persentase 2,NaN,NaN,Vaksinasi 1,Vaksinasi 2,Vaksinasi 1,Vaksinasi 2
4,2021-03-05 00:00:00,112301,141425,91078,1.259339,0.811017,911631,76451,0,0.083862,0,1976757,64121,0,0.032437,0,3000689,281997,91078,0.093977,0.030352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1468764,1692016,1111938,1.152,0.757057,21553118,179711,2,0.008338,0.0,17327169,541888,2597,0.031274,0.00015,40349051,2413615,1114537,0.059818,0.027622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
5,2021-03-06 00:00:00,112301,144046,91379,1.282678,0.813697,911631,79421,0,0.08712,0,1976757,66484,0,0.033633,0,3000689,289951,91379,0.096628,0.030453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1468764,1741784,1126353,1.185884,0.766871,21553118,206025,2,0.009559,0.0,17327169,604456,4169,0.034885,0.000241,40349051,2552265,1130524,0.063255,0.028019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
6,2021-03-07 00:00:00,112301,177126,91460,1.577243,0.814418,911631,83628,0,0.091734,0,1976757,73752,2514,0.03731,0.001272,3000689,334506,93974,0.111476,0.031317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1468764,2049651,1129340,1.395494,0.768905,21553118,215632,2,0.010005,0.0,17327169,623474,4445,0.035982,0.000257,40349051,2888757,1133787,0.071594,0.028099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
7,2021-03-08 00:00:00,112301,181237,92988,1.61385,0.828025,911631,95140,1,0.104362,0.000001,1976757,85333,3989,0.043168,0.002018,3000689,361710,96978,0.120542,0.032319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1468764,2114655,1149547,1.439751,0.782663,21553118,267603,5,0.012416,0.0,17327169,715767,8880,0.041309,0.000512,40349051,3098025,1158432,0.076781,0.02871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
8,2021-03-09 00:00:00,112301,113326,89984,1.009127,0.801275,911631,135128,675,0.148227,0.00074,1976757,174685,29195,0.088369,0.014769,3000689,423139,119854,0.141014,0.039942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1468764,1395498,1127633,0.950117,0.767743,21553118,430591,1612,0.019978,0.000075,17327169,1510937,68527,0.0872,0.003955,40349051,3337026,1197772,0.082704,0.029685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0

In [16]:
# ['Target Vaksinasi','Vaksinasi 1','Vaksinasi 2','Persentase 1','Persentase 2']
Data_Vaksinasi.columns = ['Tanggal','Target Vaksinasi_TenagaKesehatanDKI','Vaksinasi 1_TenagaKesehatanDKI','Vaksinasi 2_TenagaKesehatanDKI','Persentase 1_TenagaKesehatanDKI','Persentase 2_TenagaKesehatanDKI',
                          'Target Vaksinasi_LansiaDKI','Vaksinasi 1_LansiaDKI','Vaksinasi 2_LansiaDKI','Persentase 1_LansiaDKI','Persentase 2_LansiaDKI',
                         'Target Vaksinasi_PelayananPublikDKI','Vaksinasi 1_PelayananPublikDKI','Vaksinasi 2_PelayananPublikDKI','Persentase 1_PelayananPublikDKI','Persentase 2_PelayananPublikDKI',
                         'Target Vaksinasi_TotalDKIjkt','Vaksinasi 1_TotalDKIjkt','Vaksinasi 2_TotalDKIjkt','Persentase 1_TotalDKIjkt','Persentase 2_TotalDKIjkt',
                         'Vaksinasi 1_HarianDKI','Vaksinasi 2_HarianDKI',
                         'Target Vaksinasi_18-59 tahunDKI','Vaksinasi 1_18-59 tahunDKI','Vaksinasi 2_18-59 tahunDKI','Persentase 1_18-59 tahunDKI','Persentase 2_18-59 tahunDKI',
                         'Target Vaksinasi_12-17 tahunDKI','Vaksinasi 1_12-17 tahunDKI','Vaksinasi 2_12-17 tahunDKI','Persentase 1_12-17 tahunDKI','Persentase 2_12-17 tahunDKI',
                         'Target Vaksinasi_TenagaKesehatanIndo','Vaksinasi 1_TenagaKesehatanIndo','Vaksinasi 2_TenagaKesehatanIndo','Persentase 1_TenagaKesehatanIndo','Persentase 2_TenagaKesehatanIndo',
                          'Target Vaksinasi_LansiaIndo','Vaksinasi 1_LansiaIndo','Vaksinasi 2_LansiaIndo','Persentase 1_LansiaIndo','Persentase 2_LansiaIndo',
                         'Target Vaksinasi_PelayananPublikIndo','Vaksinasi 1_PelayananPublikIndo','Vaksinasi 2_PelayananPublikIndo','Persentase 1_PelayananPublikIndo','Persentase 2_PelayananPublikIndo',
                         'Target Vaksinasi_TotalIndo','Vaksinasi 1_TotalIndo','Vaksinasi 2_TotalIndo','Persentase 1_TotalIndo','Persentase 2_TotalIndo',
                         'Vaksinasi 1_HarianIndo','Vaksinasi 2_HarianIndo',
                         'Target Vaksinasi_18-59 tahunIndo','Vaksinasi 1_18-59 tahunIndo','Vaksinasi 2_18-59 tahunIndo','Persentase 1_18-59 tahunIndo','Persentase 2_18-59 tahunIndo',
                         'Target Vaksinasi_12-17 tahunIndo','Vaksinasi 1_12-17 tahunIndo','Vaksinasi 2_12-17 tahunIndo','Persentase 1_12-17 tahunIndo','Persentase 2_12-17 tahunIndo',
                         'Proposi Vaksin Jakarta D1','Proposi Vaksin Jakarta D2',
                         'Vaksin Gtg Ryg 1_DKI','Vaksin Gtg Ryg 2_DKI','Vaksin Gtg Ryg 1_Indo','Vaksin Gtg Ryg 2_Indo']

In [17]:
Data_Vaksinasi.head()

,Tanggal,Target Vaksinasi_TenagaKesehatanDKI,Vaksinasi 1_TenagaKesehatanDKI,Vaksinasi 2_TenagaKesehatanDKI,Persentase 1_TenagaKesehatanDKI,Persentase 2_TenagaKesehatanDKI,Target Vaksinasi_LansiaDKI,Vaksinasi 1_LansiaDKI,Vaksinasi 2_LansiaDKI,Persentase 1_LansiaDKI,Persentase 2_LansiaDKI,Target Vaksinasi_PelayananPublikDKI,Vaksinasi 1_PelayananPublikDKI,Vaksinasi 2_PelayananPublikDKI,Persentase 1_PelayananPublikDKI,Persentase 2_PelayananPublikDKI,Target Vaksinasi_TotalDKIjkt,Vaksinasi 1_TotalDKIjkt,Vaksinasi 2_TotalDKIjkt,Persentase 1_TotalDKIjkt,Persentase 2_TotalDKIjkt,Vaksinasi 1_HarianDKI,Vaksinasi 2_HarianDKI,Target Vaksinasi_18-59 tahunDKI,Vaksinasi 1_18-59 tahunDKI,Vaksinasi 2_18-59 tahunDKI,Persentase 1_18-59 tahunDKI,Persentase 2_18-59 tahunDKI,Target Vaksinasi_12-17 tahunDKI,Vaksinasi 1_12-17 tahunDKI,Vaksinasi 2_12-17 tahunDKI,Persentase 1_12-17 tahunDKI,Persentase 2_12-17 tahunDKI,Target Vaksinasi_TenagaKesehatanIndo,Vaksinasi 1_TenagaKesehatanIndo,Vaksinasi 2_TenagaKesehatanIndo,Persentase 1_TenagaKesehatanIndo,Persentase 2_TenagaKesehatanIndo,Target Vaksinasi_LansiaIndo,Vaksinasi 1_LansiaIndo,Vaksinasi 2_LansiaIndo,Persentase 1_LansiaIndo,Persentase 2_LansiaIndo,Target Vaksinasi_PelayananPublikIndo,Vaksinasi 1_PelayananPublikIndo,Vaksinasi 2_PelayananPublikIndo,Persentase 1_PelayananPublikIndo,Persentase 2_PelayananPublikIndo,Target Vaksinasi_TotalIndo,Vaksinasi 1_TotalIndo,Vaksinasi 2_TotalIndo,Persentase 1_TotalIndo,Persentase 2_TotalIndo,Vaksinasi 1_HarianIndo,Vaksinasi 2_HarianIndo,Target Vaksinasi_18-59 tahunIndo,Vaksinasi 1_18-59 tahunIndo,Vaksinasi 2_18-59 tahunIndo,Persentase 1_18-59 tahunIndo,Persentase 2_18-59 tahunIndo,Target Vaksinasi_12-17 tahunIndo,Vaksinasi 1_12-17 tahunIndo,Vaksinasi 2_12-17 tahunIndo,Persentase 1_12-17 tahunIndo,Persentase 2_12-17 tahunIndo,Proposi Vaksin Jakarta D1,Proposi Vaksin Jakarta D2,Vaksin Gtg Ryg 1_DKI,Vaksin Gtg Ryg 2_DKI,Vaksin Gtg Ryg 1_Indo,Vaksin Gtg Ryg 2_Indo
4,2021-03-05 00:00:00,112301,141425,91078,1.259339,0.811017,911631,76451,0,0.083862,0,1976757,64121,0,0.032437,0,3000689,281997,91078,0.093977,0.030352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1468764,1692016,1111938,1.152,0.757057,21553118,179711,2,0.008338,0.0,17327169,541888,2597,0.031274,0.00015,40349051,2413615,1114537,0.059818,0.027622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
5,2021-03-06 00:00:00,112301,144046,91379,1.282678,0.813697,911631,79421,0,0.08712,0,1976757,66484,0,0.033633,0,3000689,289951,91379,0.096628,0.030453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1468764,1741784,1126353,1.185884,0.766871,21553118,206025,2,0.009559,0.0,17327169,604456,4169,0.034885,0.000241,40349051,2552265,1130524,0.063255,0.028019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
6,2021-03-07 00:00:00,112301,177126,91460,1.577243,0.814418,911631,83628,0,0.091734,0,1976757,73752,2514,0.03731,0.001272,3000689,334506,93974,0.111476,0.031317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1468764,2049651,1129340,1.395494,0.768905,21553118,215632,2,0.010005,0.0,17327169,623474,4445,0.035982,0.000257,40349051,2888757,1133787,0.071594,0.028099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
7,2021-03-08 00:00:00,112301,181237,92988,1.61385,0.828025,911631,95140,1,0.104362,0.000001,1976757,85333,3989,0.043168,0.002018,3000689,361710,96978,0.120542,0.032319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1468764,2114655,1149547,1.439751,0.782663,21553118,267603,5,0.012416,0.0,17327169,715767,8880,0.041309,0.000512,40349051,3098025,1158432,0.076781,0.02871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
8,2021-03-09 00:00:00,112301,113326,89984,1.009127,0.801275,911631,135128,675,0.148227,0.00074,1976757,174685,29195,0.088369,0.014769,3000689,423139,119854,0.141014,0.039942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1468764,1395498,1127633,0.950117,0.767743,21553118,430591,1612,0.019978,0.000075,17327169,1510937,68527,0.0872,0.003955,40349051,3337026,1197772,0.082704,0.029685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0

**8. Data Pemakaman**

In [18]:
Data_Pemakaman = Data_Pemakaman[['Tanggal', 'Pemakaman_COVID19_Harian', 'Total_Pemakaman_COVID19',
       'Pemakaman_Umum_Harian', 'Total_Pemakaman_Umum']]

In [19]:
Data_Pemakaman.columns

Index(['Tanggal', 'Pemakaman_COVID19_Harian', 'Total_Pemakaman_COVID19',
       'Pemakaman_Umum_Harian', 'Total_Pemakaman_Umum'],
      dtype='object')

In [20]:
Data_Pemakaman.head()

,Tanggal,Pemakaman_COVID19_Harian,Total_Pemakaman_COVID19,Pemakaman_Umum_Harian,Total_Pemakaman_Umum
0,2020-03-01,0,0,150,150
1,2020-03-02,0,0,136,286
2,2020-03-03,0,0,135,421
3,2020-03-04,0,0,116,537
4,2020-03-05,0,0,124,661

**9. Vaksinasi Wilayah**

In [50]:
Data_Vaksinasi_Wilayah = pd.read_excel('Daily Update Data Agregat Covid-19 Jakarta.xlsx',sheet_name=8)

In [51]:
Data_Vaksinasi_Wilayah.head()

,No.,Kecamatan,Kota / Kabupaten,Target Total per Kecamatan,Target Harian per Kecamatan,Cakupan 13 Jan - 11 Juni,Unnamed: 6,Unnamed: 7,Cakupan 12 Juni,Unnamed: 9,Unnamed: 10,Cakupan 13 Juni,Unnamed: 12,Unnamed: 13,Cakupan 14 Juni,Unnamed: 15,Unnamed: 16,Cakupan 15 Juni,Unnamed: 18,Unnamed: 19,Cakupan 16 Juni,Unnamed: 21,Unnamed: 22,Cakupan 17 Juni,Unnamed: 24,Unnamed: 25,Cakupan 18 Juni,Unnamed: 27,Unnamed: 28,Cakupan 19 Juni,Unnamed: 30,Unnamed: 31,Cakupan 20 Juni,Unnamed: 33,Unnamed: 34,Cakupan 21 Juni,Unnamed: 36,Unnamed: 37,Cakupan 22 Juni,Unnamed: 39,Unnamed: 40,Cakupan 23 Juni,Unnamed: 42,Unnamed: 43,Cakupan 24 Juni,Unnamed: 45,Unnamed: 46,Cakupan 25 Juni,Unnamed: 48,Unnamed: 49,Cakupan 26 Juni,Unnamed: 51,Unnamed: 52,Cakupan 27 Juni,Unnamed: 54,Unnamed: 55,Cakupan 28 Juni,Unnamed: 57,Unnamed: 58,Cakupan 29 Juni,Unnamed: 60,Unnamed: 61,Cakupan 30 Juni,Unnamed: 63,Unnamed: 64,Cakupan 1 Juli,Unnamed: 66,Unnamed: 67,Cakupan 2 Juli,Unnamed: 69,Unnamed: 70,Cakupan 3 Juli,Unnamed: 72,Unnamed: 73,Cakupan 4 Juli,Unnamed: 75,Unnamed: 76,Cakupan 5 Juli,Unnamed: 78,Unnamed: 79,Cakupan 6 Juli,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87
0,No.,Kecamatan,Kota / Kabupaten,Target Total per Kecamatan,Target Harian per Kecamatan,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,NaN,NaN,NaN,NaN,NaN
1,1,Cakung,Jakarta Timur,393257,5333,74966,Tidak Tercapai,37590,897,Tidak Tercapai,0,0,Tidak Tercapai,0,2258,Tidak Tercapai,36,1958,Tidak Tercapai,37,2296,Tercapai,32,2331,Tidak Tercapai,9,2961,Tidak Tercapai,52,351,Tidak Tercapai,0,137,Tidak Tercapai,1,4002,Tidak Tercapai,15,1011,Tidak Tercapai,74,3461,Tidak Tercapai,28,2517,Tidak Tercapai,19,3113,Tidak Tercapai,53,565,Tidak Tercapai,1,1439,Tidak Tercapai,0,2267,Tidak Tercapai,38,2014,Tidak Tercapai,23,1960,Tidak Tercapai,27,973,Tidak Tercapai,18,891,Tidak Tercapai,33,1133,Tidak Tercapai,38.124,2,Tidak Tercapai,1,1895,Tidak Tercapai,703,3366,Tidak Tercapai,18,NaN,NaN,NaN,NaN,NaN
2,2,Cengkareng,Jakarta Barat,400577,5041,85668,Tidak Tercapai,47581,429,Tidak Tercapai,1,0,Tidak Tercapai,0,3144,Tidak Tercapai,0,3480,Tidak Tercapai,21,3275,Tidak Tercapai,2,3965,Tidak Tercapai,15,3884,Tidak Tercapai,0,2405,Tidak Tercapai,0,2318,Tidak Tercapai,0,3075,Tidak Tercapai,0,1814,Tidak Tercapai,24,5686,Tercapai,9,3770,Tidak Tercapai,19,3055,Tidak Tercapai,9,2051,Tidak Tercapai,4,786,Tidak Tercapai,2,3272,Tidak Tercapai,8,3669,Tidak Tercapai,7,3262,Tidak Tercapai,16,2892,Tidak Tercapai,13,2233,Tidak Tercapai,15,2513,Tidak Tercapai,47.759,0,Tidak Tercapai,0,2413,Tidak Tercapai,1523,4049,Tidak Tercapai,8,NaN,NaN,NaN,NaN,NaN
3,3,Kali Deres,Jakarta Barat,310580,4295,42991,Tidak Tercapai,23222,162,Tidak Tercapai,24,0,Tidak Tercapai,0,1680,Tidak Tercapai,26,2107,Tidak Tercapai,8,2347,Tercapai,21,2880,Tidak Tercapai,23,3405,Tidak Tercapai,39,1192,Tidak Tercapai,0,801,Tidak Tercapai,0,3112,Tidak Tercapai,4,2946,Tidak Tercapai,3,3616,Tidak Tercapai,4,3972,Tidak Tercapai,26,4526,Tercapai,14,1331,Tidak Tercapai,9,1590,Tidak Tercapai,1,4314,Tercapai,23,4678,Tercapai,16,4371,Tercapai,25,2264,Tidak Tercapai,12,1919,Tidak Tercapai,8,1511,Tidak Tercapai,23.576,80,Tidak Tercapai,0,2308,Tidak Tercapai,528,4389,Tercapai,27,NaN,NaN,NaN,NaN,NaN
4,4,Cilincing,Jakarta Utara,297146,4073,41494,Tidak Tercapai,22305,17,Tidak Tercapai,1,0,Tidak Tercapai,0,2239,Tidak Tercapai,26,3023,Tidak Tercapai,4,2995,Tidak Tercapai,8,2335,Tidak Tercapai,3,3876,Tidak Tercapai,23,402,Tidak Tercapai,1,528,Tidak Tercapai,0,2464,Tidak Tercapai,1,851,Tidak Tercapai,20,5691,Tercapai,2,3020,Tidak Tercapai,15,3520,Tidak Tercapai,43,1159,Tidak Tercapai,5,710,Tidak Tercapai,0,3648,Tidak Tercapai,27,3777,Tidak Tercapai,21,4126,Tercapai,24,1277,Tidak Tercapai,5,2107,Tidak Tercapai,9,4729,Tercapai,22.56,639,Tidak Tercapai,3,1949,Tidak Tercapai,834,5196,Tercapai,24,NaN,NaN,NaN,NaN,NaN

In [52]:
Data_Vaksinasi_Wilayah.columns = Data_Vaksinasi_Wilayah.iloc[0]

In [53]:
Data_Vaksinasi_Wilayah = Data_Vaksinasi_Wilayah.iloc[1: , :]

In [54]:
Data_Vaksinasi_Wilayah.head()

,No.,Kecamatan,Kota / Kabupaten,Target Total per Kecamatan,Target Harian per Kecamatan,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,NaN,NaN,NaN,NaN,NaN
1,1,Cakung,Jakarta Timur,393257,5333,74966,Tidak Tercapai,37590,897,Tidak Tercapai,0,0,Tidak Tercapai,0,2258,Tidak Tercapai,36,1958,Tidak Tercapai,37,2296,Tercapai,32,2331,Tidak Tercapai,9,2961,Tidak Tercapai,52,351,Tidak Tercapai,0,137,Tidak Tercapai,1,4002,Tidak Tercapai,15,1011,Tidak Tercapai,74,3461,Tidak Tercapai,28,2517,Tidak Tercapai,19,3113,Tidak Tercapai,53,565,Tidak Tercapai,1,1439,Tidak Tercapai,0,2267,Tidak Tercapai,38,2014,Tidak Tercapai,23,1960,Tidak Tercapai,27,973,Tidak Tercapai,18,891,Tidak Tercapai,33,1133,Tidak Tercapai,38.124,2,Tidak Tercapai,1,1895,Tidak Tercapai,703,3366,Tidak Tercapai,18,NaN,NaN,NaN,NaN,NaN
2,2,Cengkareng,Jakarta Barat,400577,5041,85668,Tidak Tercapai,47581,429,Tidak Tercapai,1,0,Tidak Tercapai,0,3144,Tidak Tercapai,0,3480,Tidak Tercapai,21,3275,Tidak Tercapai,2,3965,Tidak Tercapai,15,3884,Tidak Tercapai,0,2405,Tidak Tercapai,0,2318,Tidak Tercapai,0,3075,Tidak Tercapai,0,1814,Tidak Tercapai,24,5686,Tercapai,9,3770,Tidak Tercapai,19,3055,Tidak Tercapai,9,2051,Tidak Tercapai,4,786,Tidak Tercapai,2,3272,Tidak Tercapai,8,3669,Tidak Tercapai,7,3262,Tidak Tercapai,16,2892,Tidak Tercapai,13,2233,Tidak Tercapai,15,2513,Tidak Tercapai,47.759,0,Tidak Tercapai,0,2413,Tidak Tercapai,1523,4049,Tidak Tercapai,8,NaN,NaN,NaN,NaN,NaN
3,3,Kali Deres,Jakarta Barat,310580,4295,42991,Tidak Tercapai,23222,162,Tidak Tercapai,24,0,Tidak Tercapai,0,1680,Tidak Tercapai,26,2107,Tidak Tercapai,8,2347,Tercapai,21,2880,Tidak Tercapai,23,3405,Tidak Tercapai,39,1192,Tidak Tercapai,0,801,Tidak Tercapai,0,3112,Tidak Tercapai,4,2946,Tidak Tercapai,3,3616,Tidak Tercapai,4,3972,Tidak Tercapai,26,4526,Tercapai,14,1331,Tidak Tercapai,9,1590,Tidak Tercapai,1,4314,Tercapai,23,4678,Tercapai,16,4371,Tercapai,25,2264,Tidak Tercapai,12,1919,Tidak Tercapai,8,1511,Tidak Tercapai,23.576,80,Tidak Tercapai,0,2308,Tidak Tercapai,528,4389,Tercapai,27,NaN,NaN,NaN,NaN,NaN
4,4,Cilincing,Jakarta Utara,297146,4073,41494,Tidak Tercapai,22305,17,Tidak Tercapai,1,0,Tidak Tercapai,0,2239,Tidak Tercapai,26,3023,Tidak Tercapai,4,2995,Tidak Tercapai,8,2335,Tidak Tercapai,3,3876,Tidak Tercapai,23,402,Tidak Tercapai,1,528,Tidak Tercapai,0,2464,Tidak Tercapai,1,851,Tidak Tercapai,20,5691,Tercapai,2,3020,Tidak Tercapai,15,3520,Tidak Tercapai,43,1159,Tidak Tercapai,5,710,Tidak Tercapai,0,3648,Tidak Tercapai,27,3777,Tidak Tercapai,21,4126,Tercapai,24,1277,Tidak Tercapai,5,2107,Tidak Tercapai,9,4729,Tercapai,22.56,639,Tidak Tercapai,3,1949,Tidak Tercapai,834,5196,Tercapai,24,NaN,NaN,NaN,NaN,NaN
5,5,Duren Sawit,Jakarta Timur,316352,4006,41413,Tidak Tercapai,28993,7,Tidak Tercapai,4,0,Tidak Tercapai,1,1688,Tidak Tercapai,49,1662,Tidak Tercapai,42,1518,Tidak Tercapai,46,1650,Tidak Tercapai,38,1927,Tidak Tercapai,92,1049,Tidak Tercapai,2,363,Tidak Tercapai,0,2311,Tidak Tercapai,67,934,Tidak Tercapai,34,4618,Tercapai,20,3169,Tidak Tercapai,582,2310,Tidak Tercapai,49,1091,Tidak Tercapai,11,1,Tidak Tercapai,0,2863,Tidak Tercapai,49,2954,Tidak Tercapai,27,2495,Tidak Tercapai,61,2928,Tidak Tercapai,33,2088,Tidak Tercapai,54,1636,Tidak Tercapai,29.739,251,Tidak Tercapai,0,1500,Tidak Tercapai,1455,2830,Tidak Tercapai,62,NaN,NaN,NaN,NaN,NaN

In [59]:
Data_Vaksinasi_Wilayah = Data_Vaksinasi_Wilayah.iloc[: , :-5]

In [60]:
Data_Vaksinasi_Wilayah.head()

,No.,Kecamatan,Kota / Kabupaten,Target Total per Kecamatan,Target Harian per Kecamatan,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2,Cakupan Suntik 1,Keterangan,Cakupan Suntik 2
1,1,Cakung,Jakarta Timur,393257,5333,74966,Tidak Tercapai,37590,897,Tidak Tercapai,0,0,Tidak Tercapai,0,2258,Tidak Tercapai,36,1958,Tidak Tercapai,37,2296,Tercapai,32,2331,Tidak Tercapai,9,2961,Tidak Tercapai,52,351,Tidak Tercapai,0,137,Tidak Tercapai,1,4002,Tidak Tercapai,15,1011,Tidak Tercapai,74,3461,Tidak Tercapai,28,2517,Tidak Tercapai,19,3113,Tidak Tercapai,53,565,Tidak Tercapai,1,1439,Tidak Tercapai,0,2267,Tidak Tercapai,38,2014,Tidak Tercapai,23,1960,Tidak Tercapai,27,973,Tidak Tercapai,18,891,Tidak Tercapai,33,1133,Tidak Tercapai,38.124,2,Tidak Tercapai,1,1895,Tidak Tercapai,703,3366,Tidak Tercapai,18
2,2,Cengkareng,Jakarta Barat,400577,5041,85668,Tidak Tercapai,47581,429,Tidak Tercapai,1,0,Tidak Tercapai,0,3144,Tidak Tercapai,0,3480,Tidak Tercapai,21,3275,Tidak Tercapai,2,3965,Tidak Tercapai,15,3884,Tidak Tercapai,0,2405,Tidak Tercapai,0,2318,Tidak Tercapai,0,3075,Tidak Tercapai,0,1814,Tidak Tercapai,24,5686,Tercapai,9,3770,Tidak Tercapai,19,3055,Tidak Tercapai,9,2051,Tidak Tercapai,4,786,Tidak Tercapai,2,3272,Tidak Tercapai,8,3669,Tidak Tercapai,7,3262,Tidak Tercapai,16,2892,Tidak Tercapai,13,2233,Tidak Tercapai,15,2513,Tidak Tercapai,47.759,0,Tidak Tercapai,0,2413,Tidak Tercapai,1523,4049,Tidak Tercapai,8
3,3,Kali Deres,Jakarta Barat,310580,4295,42991,Tidak Tercapai,23222,162,Tidak Tercapai,24,0,Tidak Tercapai,0,1680,Tidak Tercapai,26,2107,Tidak Tercapai,8,2347,Tercapai,21,2880,Tidak Tercapai,23,3405,Tidak Tercapai,39,1192,Tidak Tercapai,0,801,Tidak Tercapai,0,3112,Tidak Tercapai,4,2946,Tidak Tercapai,3,3616,Tidak Tercapai,4,3972,Tidak Tercapai,26,4526,Tercapai,14,1331,Tidak Tercapai,9,1590,Tidak Tercapai,1,4314,Tercapai,23,4678,Tercapai,16,4371,Tercapai,25,2264,Tidak Tercapai,12,1919,Tidak Tercapai,8,1511,Tidak Tercapai,23.576,80,Tidak Tercapai,0,2308,Tidak Tercapai,528,4389,Tercapai,27
4,4,Cilincing,Jakarta Utara,297146,4073,41494,Tidak Tercapai,22305,17,Tidak Tercapai,1,0,Tidak Tercapai,0,2239,Tidak Tercapai,26,3023,Tidak Tercapai,4,2995,Tidak Tercapai,8,2335,Tidak Tercapai,3,3876,Tidak Tercapai,23,402,Tidak Tercapai,1,528,Tidak Tercapai,0,2464,Tidak Tercapai,1,851,Tidak Tercapai,20,5691,Tercapai,2,3020,Tidak Tercapai,15,3520,Tidak Tercapai,43,1159,Tidak Tercapai,5,710,Tidak Tercapai,0,3648,Tidak Tercapai,27,3777,Tidak Tercapai,21,4126,Tercapai,24,1277,Tidak Tercapai,5,2107,Tidak Tercapai,9,4729,Tercapai,22.56,639,Tidak Tercapai,3,1949,Tidak Tercapai,834,5196,Tercapai,24
5,5,Duren Sawit,Jakarta Timur,316352,4006,41413,Tidak Tercapai,28993,7,Tidak Tercapai,4,0,Tidak Tercapai,1,1688,Tidak Tercapai,49,1662,Tidak Tercapai,42,1518,Tidak Tercapai,46,1650,Tidak Tercapai,38,1927,Tidak Tercapai,92,1049,Tidak Tercapai,2,363,Tidak Tercapai,0,2311,Tidak Tercapai,67,934,Tidak Tercapai,34,4618,Tercapai,20,3169,Tidak Tercapai,582,2310,Tidak Tercapai,49,1091,Tidak Tercapai,11,1,Tidak Tercapai,0,2863,Tidak Tercapai,49,2954,Tidak Tercapai,27,2495,Tidak Tercapai,61,2928,Tidak Tercapai,33,2088,Tidak Tercapai,54,1636,Tidak Tercapai,29.739,251,Tidak Tercapai,0,1500,Tidak Tercapai,1455,2830,Tidak Tercapai,62

In [61]:
Data_Vaksinasi_Wilayah.columns = [   'No.', 'Kecamatan','Kota / Kabupaten',  
                                  'Target Total per Kecamatan',
       'Target Harian per Kecamatan',            'Cakupan Suntik 1_13 Jan-11 Jun',
                        'Keterangan_13 Jan-11 Jun',            'Cakupan Suntik 2_13 Jan-11 Jun',
                  'Cakupan Suntik 1_12 Juni',                  'Keterangan_12 Juni',
                  'Cakupan Suntik 2_12 Juni',            'Cakupan Suntik 1_13 Juni',
                        'Keterangan_13 Juni',            'Cakupan Suntik 2_13 Juni',
                  'Cakupan Suntik 1_14 Juni',                  'Keterangan_14 Juni',
                  'Cakupan Suntik 2_14 Juni',            'Cakupan Suntik 1_15 Juni',
                        'Keterangan_15 Juni',            'Cakupan Suntik 2_15 Juni',
                  'Cakupan Suntik 1_16 Juni',                  'Keterangan_16 Juni',
                  'Cakupan Suntik 2_16 Juni',            'Cakupan Suntik 1_17 Juni',
                        'Keterangan_17 Juni',            'Cakupan Suntik 2_17 Juni',
                  'Cakupan Suntik 1_18 Juni',                  'Keterangan_18 Juni',
                  'Cakupan Suntik 2_18 Juni',            'Cakupan Suntik 1_19 Juni',
                        'Keterangan_19 Juni',            'Cakupan Suntik 2_19 Juni',
                  'Cakupan Suntik 1_20 Juni',                  'Keterangan_20 Juni',
                  'Cakupan Suntik 2_20 Juni',            'Cakupan Suntik 1_21 Juni',
                        'Keterangan_21 Juni',            'Cakupan Suntik 2_21 Juni',
                  'Cakupan Suntik 1_22 Juni',                  'Keterangan_22 Juni',
                  'Cakupan Suntik 2_22 Juni',            'Cakupan Suntik 1_23 Juni',
                        'Keterangan_23 Juni',            'Cakupan Suntik 2_23 Juni',
                  'Cakupan Suntik 1_24 Juni',                  'Keterangan_24 Juni',
                  'Cakupan Suntik 2_24 Juni',            'Cakupan Suntik 1_25 Juni',
                        'Keterangan_25 Juni',            'Cakupan Suntik 2_25 Juni',
                  'Cakupan Suntik 1_26 Juni',                  'Keterangan_26 Juni',
                  'Cakupan Suntik 2_26 Juni',            'Cakupan Suntik 1_27 Juni',
                        'Keterangan_27 Juni',            'Cakupan Suntik 2_27 Juni',
                  'Cakupan Suntik 1_28 Juni',                  'Keterangan_28 Juni',
                  'Cakupan Suntik 2_28 Juni',            'Cakupan Suntik 1_29 Juni',
                        'Keterangan_29 Juni',            'Cakupan Suntik 2_29 Juni',
                  'Cakupan Suntik 1_30 Juni',                  'Keterangan_30 Juni',
                  'Cakupan Suntik 2_30 Juni',            'Cakupan Suntik 1_1 Juli',
                        'Keterangan_1 Juli',            'Cakupan Suntik 2_1 Juli',
                  'Cakupan Suntik 1_2 Juli',                  'Keterangan_2 Juli',
                  'Cakupan Suntik 2_2 Juli',            'Cakupan Suntik 1_3 Juli',
                        'Keterangan_3 Juli',            'Cakupan Suntik 2_3 Juli',
                  'Cakupan Suntik 1_4 Juli',                  'Keterangan_4 Juli',
                  'Cakupan Suntik 2_4 Juli',            'Cakupan Suntik 1_5 Juli',
                        'Keterangan_5 Juli',            'Cakupan Suntik 2_5 Juli',
                  'Cakupan Suntik 1_6 Juli',                  'Keterangan_6 Juli',
                  'Cakupan Suntik 2_6 Juli']

In [62]:
Data_Vaksinasi_Wilayah.head()

,No.,Kecamatan,Kota / Kabupaten,Target Total per Kecamatan,Target Harian per Kecamatan,Cakupan Suntik 1_13 Jan-11 Jun,Keterangan_13 Jan-11 Jun,Cakupan Suntik 2_13 Jan-11 Jun,Cakupan Suntik 1_12 Juni,Keterangan_12 Juni,Cakupan Suntik 2_12 Juni,Cakupan Suntik 1_13 Juni,Keterangan_13 Juni,Cakupan Suntik 2_13 Juni,Cakupan Suntik 1_14 Juni,Keterangan_14 Juni,Cakupan Suntik 2_14 Juni,Cakupan Suntik 1_15 Juni,Keterangan_15 Juni,Cakupan Suntik 2_15 Juni,Cakupan Suntik 1_16 Juni,Keterangan_16 Juni,Cakupan Suntik 2_16 Juni,Cakupan Suntik 1_17 Juni,Keterangan_17 Juni,Cakupan Suntik 2_17 Juni,Cakupan Suntik 1_18 Juni,Keterangan_18 Juni,Cakupan Suntik 2_18 Juni,Cakupan Suntik 1_19 Juni,Keterangan_19 Juni,Cakupan Suntik 2_19 Juni,Cakupan Suntik 1_20 Juni,Keterangan_20 Juni,Cakupan Suntik 2_20 Juni,Cakupan Suntik 1_21 Juni,Keterangan_21 Juni,Cakupan Suntik 2_21 Juni,Cakupan Suntik 1_22 Juni,Keterangan_22 Juni,Cakupan Suntik 2_22 Juni,Cakupan Suntik 1_23 Juni,Keterangan_23 Juni,Cakupan Suntik 2_23 Juni,Cakupan Suntik 1_24 Juni,Keterangan_24 Juni,Cakupan Suntik 2_24 Juni,Cakupan Suntik 1_25 Juni,Keterangan_25 Juni,Cakupan Suntik 2_25 Juni,Cakupan Suntik 1_26 Juni,Keterangan_26 Juni,Cakupan Suntik 2_26 Juni,Cakupan Suntik 1_27 Juni,Keterangan_27 Juni,Cakupan Suntik 2_27 Juni,Cakupan Suntik 1_28 Juni,Keterangan_28 Juni,Cakupan Suntik 2_28 Juni,Cakupan Suntik 1_29 Juni,Keterangan_29 Juni,Cakupan Suntik 2_29 Juni,Cakupan Suntik 1_30 Juni,Keterangan_30 Juni,Cakupan Suntik 2_30 Juni,Cakupan Suntik 1_1 Juli,Keterangan_1 Juli,Cakupan Suntik 2_1 Juli,Cakupan Suntik 1_2 Juli,Keterangan_2 Juli,Cakupan Suntik 2_2 Juli,Cakupan Suntik 1_3 Juli,Keterangan_3 Juli,Cakupan Suntik 2_3 Juli,Cakupan Suntik 1_4 Juli,Keterangan_4 Juli,Cakupan Suntik 2_4 Juli,Cakupan Suntik 1_5 Juli,Keterangan_5 Juli,Cakupan Suntik 2_5 Juli,Cakupan Suntik 1_6 Juli,Keterangan_6 Juli,Cakupan Suntik 2_6 Juli
1,1,Cakung,Jakarta Timur,393257,5333,74966,Tidak Tercapai,37590,897,Tidak Tercapai,0,0,Tidak Tercapai,0,2258,Tidak Tercapai,36,1958,Tidak Tercapai,37,2296,Tercapai,32,2331,Tidak Tercapai,9,2961,Tidak Tercapai,52,351,Tidak Tercapai,0,137,Tidak Tercapai,1,4002,Tidak Tercapai,15,1011,Tidak Tercapai,74,3461,Tidak Tercapai,28,2517,Tidak Tercapai,19,3113,Tidak Tercapai,53,565,Tidak Tercapai,1,1439,Tidak Tercapai,0,2267,Tidak Tercapai,38,2014,Tidak Tercapai,23,1960,Tidak Tercapai,27,973,Tidak Tercapai,18,891,Tidak Tercapai,33,1133,Tidak Tercapai,38.124,2,Tidak Tercapai,1,1895,Tidak Tercapai,703,3366,Tidak Tercapai,18
2,2,Cengkareng,Jakarta Barat,400577,5041,85668,Tidak Tercapai,47581,429,Tidak Tercapai,1,0,Tidak Tercapai,0,3144,Tidak Tercapai,0,3480,Tidak Tercapai,21,3275,Tidak Tercapai,2,3965,Tidak Tercapai,15,3884,Tidak Tercapai,0,2405,Tidak Tercapai,0,2318,Tidak Tercapai,0,3075,Tidak Tercapai,0,1814,Tidak Tercapai,24,5686,Tercapai,9,3770,Tidak Tercapai,19,3055,Tidak Tercapai,9,2051,Tidak Tercapai,4,786,Tidak Tercapai,2,3272,Tidak Tercapai,8,3669,Tidak Tercapai,7,3262,Tidak Tercapai,16,2892,Tidak Tercapai,13,2233,Tidak Tercapai,15,2513,Tidak Tercapai,47.759,0,Tidak Tercapai,0,2413,Tidak Tercapai,1523,4049,Tidak Tercapai,8
3,3,Kali Deres,Jakarta Barat,310580,4295,42991,Tidak Tercapai,23222,162,Tidak Tercapai,24,0,Tidak Tercapai,0,1680,Tidak Tercapai,26,2107,Tidak Tercapai,8,2347,Tercapai,21,2880,Tidak Tercapai,23,3405,Tidak Tercapai,39,1192,Tidak Tercapai,0,801,Tidak Tercapai,0,3112,Tidak Tercapai,4,2946,Tidak Tercapai,3,3616,Tidak Tercapai,4,3972,Tidak Tercapai,26,4526,Tercapai,14,1331,Tidak Tercapai,9,1590,Tidak Tercapai,1,4314,Tercapai,23,4678,Tercapai,16,4371,Tercapai,25,2264,Tidak Tercapai,12,1919,Tidak Tercapai,8,1511,Tidak Tercapai,23.576,80,Tidak Tercapai,0,2308,Tidak Tercapai,528,4389,Tercapai,27
4,4,Cilincing,Jakarta Utara,297146,4073,41494,Tidak Tercapai,22305,17,Tidak Tercapai,1,0,Tidak Tercapai,0,2239,Tidak Tercapai,26,3023,Tidak Tercapai,4,2995,Tidak Tercapai,8,2335,Tidak Tercapai,3,3876,Tidak Tercapai,23,402,Tidak Tercapai,1,528,Tidak Tercapai,0,2464,Tidak Tercapai,1,851,Tidak Tercapai,20,5691,Tercapai,2,3020,Tidak Tercapai,15,3520,Tidak Tercapai,43,1159,Tidak Tercapai,5,710,Tidak Tercapai,0,3648,Tidak Tercapai,27,3777,Tidak Tercapai,21,4126,Tercapai,24,1277,Tidak Tercapai,5,2107,Tidak Tercapai,9,4729,Tercapai,22.56,639,Tidak Tercapai,3,1949,Tidak Tercapai,834,5196,Tercapai,24
5,5,Duren Sawit,Jakarta Timur,316352,4006,41413,Tidak Tercapai,28993,7,Tidak Tercapai,4,0,Tidak Tercapai,1,1688,Tidak Tercapai,49,1662,Tidak Tercapai,42,1518,Tidak Tercapai,46,1650,Tidak Tercapai,38,1927,Tidak Tercapai,92,1049,Tidak Tercapai,2,363,Tidak Tercapai,0,2311,Tidak Tercapai,67,934,Tidak Tercapai,34,4618,Tercapai,20,3169,Tidak Tercapai,582,2310,Tidak Tercapai,49,1091,Tidak Tercapai,11,1,Tidak Tercapai,0,2863,Tidak Tercapai,49,2954,Tidak Tercapai,27,2495,Tidak Tercapai,61,2928,Tidak Tercapai,33,2088,Tidak Tercapai,54,1636,Tidak Tercapai,29.739,251,Tidak Tercapai,0,1500,Tidak Tercapai,1455,2830,Tidak Tercapai,62

**10. Data Daily Vaksinasi Wilayah**

In [66]:
Data_Daily_Vaksinasi_Wilayah = Data_Daily_Vaksinasi_Wilayah.iloc[:,:4]
Data_Daily_Vaksinasi_Wilayah.head()

     Tanggal  Cakupan Suntik 1  Cakupan Suntik 2  Unnamed: 3
0 2021-06-11           2819926         1852994.0           1
1 2021-06-12             19281            1173.0           4
2 2021-06-13               198              29.0           7
3 2021-06-14             79491            3691.0          10
4 2021-06-15             81545            3385.0          13

In [67]:
print('\n')

## 1) Temukan nilai mean, median, dan modus dari positif COVID-19 harian Jakarta

In [72]:
Data_Jkt['Jam'] = [d.time() for d in Data_Jkt['Tanggal Jam']]
Data_Jkt.head()

,Tanggal,Jam,Tanggal Jam,Total Pasien,Sembuh,Meninggal,Self Isolation,Masih Perawatan,Belum Diketahui (masih verifikasi),Menunggu Hasil,Tenaga Kesehatan Terinfeksi,Positif Harian,Positif Aktif,Sembuh Harian,Tanpa Gejala,Bergejala,Belum Ada Data
0,2020-03-01,18:00:00,2020-03-01 18:00:00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN
1,2020-03-02,18:00:00,2020-03-02 18:00:00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN
2,2020-03-03,18:00:00,2020-03-03 18:00:00,3,0,1,0,2,NaN,NaN,NaN,3,2,0,NaN,NaN,NaN
3,2020-03-04,18:00:00,2020-03-04 18:00:00,3,0,1,0,2,NaN,NaN,NaN,0,2,0,NaN,NaN,NaN
4,2020-03-05,18:00:00,2020-03-05 18:00:00,7,0,3,0,4,NaN,NaN,NaN,4,4,0,NaN,NaN,NaN

In [79]:
print('Rata-Rata Kasus Positif Covid-19 Harian Jakarta:',Data_Jkt['Positif Harian'].mean())
print('Median dari Kasus Positif Covid-19 Harian Jakarta:',Data_Jkt['Positif Harian'].median())
print('Modus dari Kasus Positif Covid-19 Harian Jakarta:',Data_Jkt['Positif Harian'].mode()[0],'sebanyak {} kali'.format(Data_Jkt['Positif Harian'].value_counts().sort_values(ascending=False)[0]))

Rata-Rata Kasus Positif Covid-19 Harian Jakarta: 1218.9391480730224
Median dari Kasus Positif Covid-19 Harian Jakarta: 862.0
Modus dari Kasus Positif Covid-19 Harian Jakarta: 0 sebanyak 7 kali

## 2) Dari dataset yang disediakan, temukan nilai minimal dan maksimal dari positif COVID-19 harian Jakarta.

In [84]:
print('Nilai Minimal Dari Kasus Positif Covid-19 Harian Jakarta adalah sebanyak {} kasus'.format(Data_Jkt['Positif Harian'].min()))
print('Dan Nilai Maksimal Dari Kasus Positif Covid-19 Harian Jakarta adalah sebanyak {} kasus'.format(Data_Jkt['Positif Harian'].max()))

Nilai Minimal Dari Kasus Positif Covid-19 Harian Jakarta adalah sebanyak 0 kasus
Dan Nilai Maksimal Dari Kasus Positif Covid-19 Harian Jakarta adalah sebanyak 10903 kasus

## 3) Dari dataset yang disediakan, temukan nilai-nilai outlier yang ada (menggunakan variabel yang kalian tentukan).

In [98]:
for i in Data_Indo_Jkt.columns:  
    Q1  = Data_Indo_Jkt[i].quantile(0.25)
    Q3  = Data_Indo_Jkt[i].quantile(0.75)
    IQR = Q3-Q1

    Lower_Bound = Q1-(1.5*IQR)
    Upper_Bound = Q3+(1.5*IQR)

    print('Kolom',i,'Memiliki Outliers sebesar:',len(Data_Indo_Jkt[(Data_Indo_Jkt[i]>Upper_Bound)|(Data_Indo_Jkt[i]<Lower_Bound)])/len(Data_Indo_Jkt)*100,'%')
print('\n')

Kolom Tanggal Memiliki Outliers sebesar: 0.0 %
Kolom Meninggal (Indonesia) Memiliki Outliers sebesar: 0.0 %
Kolom Sembuh (Indonesia) Memiliki Outliers sebesar: 0.0 %
Kolom Dirawat (Indonesia) Memiliki Outliers sebesar: 1.4198782961460445 %
Kolom Positif (Indonesia) Memiliki Outliers sebesar: 0.0 %
Kolom Meninggal (Jakarta) Memiliki Outliers sebesar: 0.0 %
Kolom Sembuh (Jakarta) Memiliki Outliers sebesar: 0.0 %
Kolom Self-Isolation (Jakarta) Memiliki Outliers sebesar: 7.505070993914807 %
Kolom Dirawat (Jakarta) Memiliki Outliers sebesar: 5.476673427991886 %
Kolom Positif (Jakarta) Memiliki Outliers sebesar: 0.0 %
Kolom Positif Aktif (Jakarta) Memiliki Outliers sebesar: 4.259634888438134 %
Kolom Meninggal Harian (Indonesia) Memiliki Outliers sebesar: 3.2454361054766734 %
Kolom Sembuh Harian (Indonesia) Memiliki Outliers sebesar: 0.4056795131845842 %
Kolom Dirawat Harian (Indonesia) Memiliki Outliers sebesar: 16.227180527383368 %
Kolom Positif Harian (Indonesia) Memiliki Outliers sebesar: 4.462474645030426 %
Kolom Meninggal Harian (Jakarta) Memiliki Outliers sebesar: 5.273833671399594 %
Kolom Sembuh Harian (Jakarta) Memiliki Outliers sebesar: 6.288032454361055 %
Kolom Self-Isolation Harian (Jakarta) Memiliki Outliers sebesar: 14.198782961460447 %
Kolom Dirawat Harian (Jakarta) Memiliki Outliers sebesar: 13.590263691683571 %
Kolom Positif Harian (Jakarta) Memiliki Outliers sebesar: 7.910750507099391 %
Kolom Positif Aktif Harian (Jakarta) Memiliki Outliers sebesar: 17.038539553752535 %

Akan kita coba ekstrak Outliers dari kolom **Positif Aktif Harian (Jakarta)**, karena kolom ini yang memiliki outliers paling banyak di dalam dataset ini.

In [110]:
for i in ['Positif Aktif Harian (Jakarta)']:  
    Q1  = Data_Indo_Jkt[i].quantile(0.25)
    Q3  = Data_Indo_Jkt[i].quantile(0.75)
    IQR = Q3-Q1

    Lower_Bound = Q1-(1.5*IQR)
    Upper_Bound = Q3+(1.5*IQR)

#     print('Kolom',i,'Memiliki Outliers sebesar:',len(Data_Indo_Jkt[(Data_Indo_Jkt[i]>Upper_Bound)|(Data_Indo_Jkt[i]<Lower_Bound)])/len(Data_Indo_Jkt)*100,'%')
Outliers_Positif_Aktif_Jkt = Data_Indo_Jkt[(Data_Indo_Jkt[i]>Upper_Bound)|(Data_Indo_Jkt[i]<Lower_Bound)]
print(Outliers_Positif_Aktif_Jkt['Positif Aktif Harian (Jakarta)'].mean())
print(Data_Indo_Jkt['Positif Aktif Harian (Jakarta)'].mean())

838.5833333333334
191.85395537525355